.card-image {
  margin: -10px -10px -10px -10px;
}

body {
  background: steelblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.artist-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.history-discography-songs-populate {
  color: white;
  line-height: 1.75rem;
}

.album-art-thumb {
  height: 350px;
  width: 350px;
  margin: 25px;
  display: inline-block;
}

#disco_text {
  vertical-align: middle;
  font-size: 18px;
    display: inline-block
  
}
#artist-pic {
  max-width: 15vw;
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: row;
}

#artist-search-button {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 10px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

#artist-search {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 300px;
  height: 48px;
}

#jumbotron {
  height: 20px;
}

#main-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 56px;
}

#secondary-title {
  text-align: center;
  font-family: Verdana;
  color: white;
}
#myModal {
  top: 30vh;

}

.modal-dialog {
  max-width: 560px;
  max-height: 300px;
  margin: auto;
  color: black;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: white;
  opacity: 1;
  background-color: black;
}

iframe {
  width: 560px;
  height: 315px;
}

.embed-responsive-16by9 {
  max-width: 560px;
  max-height: 315px;
  background-color: black;
}

#artist-name {
  font-size:48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 10px 0;

  }

#show-all-albums {
  margin: 10px 0;
}

#show-bio {
  margin: 10px 0;
}

#songs-videos {
  margin: 10px 0;
}

#website {
  margin: 10px 0;
}

.song {
  list-style: none;
}

.trackText {
  cursor: pointer;
}